.container-div{
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: none;
    margin:none;
}

.selectCont {
    padding: none;
    margin: none;
    margin-left: none;
    width: 400px;
    font-family: 'Press Start 2P';
    border-radius: 20px;
    background-color:transparent;
    
}

.option {
    margin: 5px;
    font-family: 'Press Start 2P';
    background-color: rgba(83, 60, 93, 0.479);

    
}

.optionGroup {
    
    font-family: 'Press Start 2P';
    background-color: rgba(83, 60, 93, 0.479);
}